# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\rookieStudyProject\自定义拦截器\springboot-intercept-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
